@tailwind base;
@tailwind components;
@tailwind utilities;

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-3 z-0 ml-0 px-2 py-0;
  color:#302F3C;
  height: auto;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.titulo:after{
  content: ' ';
  width: 75%;
  height: 10px;
  display: block;
  background-color: #006d77;
  margin: 8px auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
