@tailwind base;
@tailwind components;
@tailwind utilities;

.outline input:focus-within~label,
.outline input:not(:placeholder-shown)~label {
  @apply transform scale-75 -translate-y-3 z-0 ml-0 px-2 py-0;
  color: #83c5be;
  height: auto;

}

.outline textarea:focus-within~label,
.outline textarea:not(:placeholder-shown)~label {
  @apply transform scale-75 -translate-y-3 z-0 ml-0 px-2 py-0;
  color: #83c5be;
  height: auto;

}

.input-component input::-webkit-outer-spin-button,
.input-component input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.titulo:after {
  content: ' ';
  width: 75%;
  height: 10px;
  display: block;
  background-color: #006d77;
  margin: 8px auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Classe para ocultar a barra de rolagem vertical */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(117 117 117);
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #006d77;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}

.mm-h-297 {
  height: 297mm;
}

.mm-w-210 {
  width: 210mm;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


:root {
  /* Primárias */
  --color-primary-50: 237 249 249;
  /* #edf6f9 */
  --color-primary-100: 131 197 190;
  /* #83c5be */
  --color-primary-200: 23 133 130;
  /* #178582 */

  /* Secundárias */
  --color-secondary-100: 237 246 249;
  /* #edf6f9 */
  --color-secondary-200: 233 233 233;
  /* #e9e9e9 */

  /* Texto */
  --color-typography-100: 245 245 245;
  /* Preto suave */
  --color-typography-200: 238 238 238;
  --color-typography-300: 224 224 224;
  --color-typography-400: 189 189 189;
  --color-typography-500: 158 158 158;
  --color-typography-600: 117 117 117;
  --color-typography-700: 97 97 97;
  --color-typography-800: 66 66 66;
  --color-typography-900: 33 33 33;

  /* Fundos */
  --color-surface-100: 255 255 255;
  /* Branco */
  --color-surface-200: 245 245 245;
  /* Cinza claro */
}

.theme-dark {
  
  --color-primary-100: 167 94 255;
  --color-primary-200: 192 127 255;

  /* === Secundárias (fundos neutros escuros) === */
  --color-secondary-100: 22 20 25;
  /* #161419 — fundo geral */
  --color-secondary-200: 35 30 40;
  /* #231E28 — contraste leve */

  /* === Texto (branco com gradações suaves) === */
  --color-typography-100: 255 255 255;
  /* branco puro - títulos */
  --color-typography-200: 235 235 240;
  --color-typography-300: 215 215 225;
  --color-typography-400: 190 190 200;
  --color-typography-500: 160 160 170;
  --color-typography-600: 130 130 140;
  --color-typography-700: 210 210 220;
  /* texto sobre fundo roxo */
  --color-typography-800: 235 235 240;
  --color-typography-900: 255 255 255;

  /* === Fundos / Superfícies === */
  --color-surface-100: 15 10 20;
  /* #0F0A14 — fundo principal */
  --color-surface-200: 25 18 35;
  /* #191223 — cards / containers */
}


.theme-blue {
  /* tom mais escuro, base */
  --color-primary-100: 159 185 227;
  /* #225A59 — base principal escura */
  --color-primary-200: 10 34 75;
  /* #3DB5AD — destaque agradável */

  /* Secundárias */
  --color-secondary-100: 237 246 249;
  /* #edf6f9 */
  --color-secondary-200: 233 233 233;
  /* #e9e9e9 */

  /* Texto */
  --color-typography-100: 245 245 245;
  /* Preto suave */
  --color-typography-200: 238 238 238;
  --color-typography-300: 224 224 224;
  --color-typography-400: 189 189 189;
  --color-typography-500: 158 158 158;
  --color-typography-600: 117 117 117;
  --color-typography-700: 97 97 97;
  --color-typography-800: 66 66 66;
  --color-typography-900: 33 33 33;


  /* Fundos */
  --color-surface-100: 255 255 255;
  /* Branco */
  --color-surface-200: 245 245 245;
  /* Cinza claro */
}